@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #8e54e9;
    --secondary-color: #4776e6;
    --tertiary-color: #afe954;
    --gradient: linear-gradient(to top, #4776e6, #8e54e9);
    --main-font: "Dangrek", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

html {
    height: 100%;
}

body {
    background-image: var(--gradient);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    margin: 0 auto;
    text-align: center;
    display: flex;
    width: 25%;
}

.logo {
    font-family: var(--main-font);
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 45px;
    text-align: center;
    margin: 0;
}

.D {
    color: #e98e54;
}

.navlink {
    margin: auto;
    font-family: var(--secondary-font);
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: 600;
    font-size: 18px;
}

.wishlist {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 50px;
    margin-top: 40px;
}

.main {
    background-color: #dbe6ff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    height: 70%;
}

.main-randomizer {
    background-color: #dbe6ff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 35px;
}

.main-results {
    background-color: #dbe6ff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 35px;
}

.title {
    position: relative;
}

.subtitle {
    position: absolute;
    top: 0;
    margin: 190px 18% 0 18%;
}

.main_title {
    font-family: var(--main-font);
    color: var(--primary-color);
    font-size: 120px;
    text-align: center;
    margin: 0;
}

.main_subtitle {
    font-family: var(--secondary-font);
    font-weight: 600;
    line-height: 45px;
    color: #e98e54;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

.quiz_button {
    background-color: var(--primary-color);
    color: #dbe6ff;
    padding: 20px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 30px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.quiz_button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.random_button {
    background-color: var(--secondary-color);
    color: #dbe6ff;
    padding: 20px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 30px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.random_button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
    bottom: 0;
    font-family: var(--secondary-font);
    font-weight: 500;
    color: var(--tertiary-color);
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 40px;
    display: block;
}

.random_title {
    font-family: var(--main-font);
    color: var(--primary-color);
    font-size: 75px;
    text-align: center;
    margin: 0;
    line-height: 90px;
}

.game_cover {
    display: block;
    margin: 0 auto;
    width: 18%;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 15px;
}

.description {
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 18px;
    text-align: center;
    margin: 30px 200px;
}

.randomizer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.randomizer:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.quiz_title {
    font-family: var(--main-font);
    color: var(--primary-color);
    font-size: 75px;
    text-align: center;
    margin: 0;
    line-height: 90px;
}

.nav_buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}

.nav_button {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.nav_button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.results_title {
    font-family: var(--main-font);
    color: var(--primary-color);
    font-size: 75px;
    text-align: center;
    margin: 0;
    line-height: 90px;
    padding-bottom: 10px;
}

.results_row {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    border-radius: 25px;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.result {
    padding: 20px 100px;
    width: 50%;
}

.option {
    font-family: var(--secondary-font);
    border: solid 1px var(--secondary-color);
    margin: 20px;
    border-radius: 10px;
    font-size: 18px;
    color: var(--primary-color);
}

.game-title {
    font-family: var(--secondary-font);
    color: var(--tertiary-color);
    text-align: center;
}

.game-rating {
    font-family: var(--secondary-font);
    color: var(--tertiary-color);
    text-align: center;
}

.game-cover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}