@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #8e54e9;
    --secondary-color: #4776e6;
    --tertiary-color: #afe954;
    --gradient: linear-gradient(to top, #4776e6, #8e54e9);
    --main-font: "Dangrek", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

html {
    height: 100%;
}

body {
    background: var(--gradient);
    background-repeat: no-repeat;
    height: 100%;
}

.header {
    margin: 0 auto;
    text-align: center;
    display: flex;
    width: 25%;
}

.logo {
    font-family: var(--main-font);
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 45px;
    text-align: center;
    margin: 0;
}

.D {
    color: #e98e54;
}

.navlink {
    margin: auto;
    font-family: var(--secondary-font);
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: 600;
    font-size: 18px;
}

.wishlist {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 50px;
    margin-top: 40px;
}

.main {
    background-color: #dbe6ff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    height: 65%;
}
.title {
    position: relative;
}

.subtitle {
    position: absolute;
    top: 0;
    margin: 175px 18% 0 18%;
}

.main_title {
    font-family: var(--main-font);
    color: var(--primary-color);
    font-size: 120px;
    text-align: center;
    margin: 0;
}

.main_subtitle {
    font-family: var(--main-font);
    color: #e98e54;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.quiz_button {
    display: block;
}

.random_button {
    display: block;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: 500;
    color: var(--tertiary-color);
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
}